body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMjsq_11bqXgjjAf3pFPn05tiqAJxKAUwOzw&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin: 0;  
  margin-bottom: 100px;
}

.navbar a, .dropdown .dropbtn, 
.navbar a:hover, 
.dropdown:hover .dropbtn, 
.dropdown-content a,  
h2,  .timer_message,
#timer1, #timer2, #timer3,
#timer4, #timer5, #timer6,
#timer7, .review-schedule,
.universe,p, button,
button a:link,
a:visited {
  font-family: avenir-light;  
  color: white;  
}

.navbar a, h2, .timer_message,
#timer1, #timer2, #timer3,
#timer4, #timer5, #timer6,
#timer7, .review-schedule,
.universe, p, button {
  text-align: center;
}

h2, .timer_message,
#timer1, #timer2, #timer3,
#timer4, #timer5, #timer6,
#timer7, .review-schedule,
.universe {
  text-shadow: 0px 2px 5px red;  
}

.navbar a, .dropdown,
.dropdown-content a {
  float: left;
}

.dropdown-content a, 
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar, .dropdown {
  overflow: hidden;  
}

.navbar {
  background-color: #333;
  width: 100%;
}

.navbar a, .dropdown .dropbtn {
  font-size: 16px;  
}

.navbar a, 
.dropdown .dropbtn {
  padding: 14px 16px;
}

.navbar a,
a:link {
  text-decoration: none;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, 
.dropdown:hover .dropbtn,
.review-schedule,
.universe  {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, 
.dropdown-content a:visited {
  color: black;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

h2 {
  font-size: 50pt;
  margin: 32px 0 64px 0;
}

h2.timer_message {
  font-size: 30pt;
  margin: 0 32px auto;
}

#timer1, #timer2, #timer3,
#timer4, #timer5, #timer6,
#timer7 {
  font-size: 25pt;
  margin: 16px 64px auto;
  margin-bottom: 64px;
  text-align: center;
  font-weight: 700;
}

.review-schedule,
.universe {
  font-size: 25pt;
  border: none; 
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 32px;   
  box-shadow: 0px 2px 5px red;
}

a:hover, a:active {
  text-decoration: underline;
}