body {
  margin: 0;
}

.AMATWQ, .GOTGV3, .TGOTGHS {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.AMATWQ {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/2DAE3601A504ABA3A5588D173A6FE4106E81EB1F87BC365388AEFA7E83879C31");
  padding-bottom: 32px; 
}

.GOTGV3 {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/6D0DCB3626913DB76910BB0A16DD198301487D5529B8F0C9A8D57D226C61E3B7");
}

.TGOTGHS {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/2CB6E9F712372DB68C20F8918BEEBC077C193CD279110215087DE51EE2F317C1");
}

.GOTGV3, .TGOTGHS {
  padding-bottom: 200px;
}

.navbar a, .dropdown .dropbtn, 
.navbar a:hover, 
.dropdown:hover .dropbtn, 
.dropdown-content a,  
h2, h3, h4, p, button,
button a:link,
button a:visited,
a:visited,
a.reference:link,
a.reference:visited {
  font-family: avenir-light;  
  color: white;  
}

.navbar a, .dropdown,
.dropdown-content a {
  float: left;
}

.dropdown-content a, 
.dropdown:hover .dropdown-content,
.ant-man-and-the-wasp-quantumania-logo,
.guardians-of-the-galaxy-vol-3-logo,
.the-guardians-of-the-galaxy-holiday-special-logo,
iframe, .next {
  display: block;
}

.navbar, .dropdown {
  overflow: hidden;  
}

.navbar {
  background-color: #333;
  width: 100%;
}

.navbar a, .dropdown .dropbtn {
  font-size: 16px;  
}

.navbar a, 
.dropdown .dropbtn {
  padding: 14px 16px;
}

.navbar a, h2, h3, h4, p, button {
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, 
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, 
.dropdown-content a:visited {
  color: black;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.ant-man-and-the-wasp-quantumania-logo,
.guardians-of-the-galaxy-vol-3-logo,
.the-guardians-of-the-galaxy-holiday-special-logo,
iframe {
  margin: auto;
}

.ant-man-and-the-wasp-quantumania-logo,
.guardians-of-the-galaxy-vol-3-logo,
.the-guardians-of-the-galaxy-holiday-special-logo {
  height: 200px;  
}

.guardians-of-the-galaxy-vol-3-logo, 
.the-guardians-of-the-galaxy-holiday-special-logo {
  width: 340px;
  padding-top: 200px;
  padding-bottom: 50px;
}

.ant-man-and-the-wasp-quantumania-logo {
  width: 350px;
}

h2, h3, p { 
  text-shadow: 0px 2px 5px blue;   
}

h2 {
  font-size: 25pt;
  margin: 20px;
}

h3 {
  font-size: 20pt;
  margin: 0 20px auto;
}

a.reference:link {
  text-decoration: underline;
}

.quantumania, .next {
  font-size: xx-large;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
}

.next {
  margin: auto;
  margin-top: 100px;
}

a:link {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px blue;
  height: 200px;
  width: 360px;
}

.overview {
  margin-left: 25%;
  margin-right: 25%;
}

.rating-areas {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.original-rating-area, 
.proposed-rating-area {
  height: 150px;
  margin: 0 auto;
}

.pg-13-rating {
  position: relative;
  bottom: 55px;
  left: 20px;
  width: 250px;
  height: 250px;
  filter: invert(1);
  object-fit: cover;
}

.disneyplus {
  width: 150px;
  position: relative;
  bottom: -22px
}

.imax {
  width: 200px;
  border-radius: 7px;
  box-shadow: 0px 2px 5px blue;
  position: relative;
  top: 5px;
}


@media screen and (min-width: 300px) {
  .ant-man-and-the-wasp-quantumania-logo {
    height: 175px;
    width: 300px;
  }

  iframe {
    height: 155px;
    width: 280px;
  }

  .original-rating-area, .proposed-rating-area {
    height: 200px;
    margin: 0 auto;
  }

  .imax {
    margin: 25px;
  }

  .guardians-of-the-galaxy-vol-3-logo,
  .the-guardians-of-the-galaxy-holiday-special-logo {
    height: 160px;
    width: 280px;
  }
}

@media screen and (min-width: 350px) {
  iframe {
    height: 190px;
    width: 340px;
  }
}

@media screen and (min-width: 500px) {
  iframe {
    height: 250px;
    width: 450px;
  }

  .imax {
    margin: 0;
  }
}

@media screen and (min-width: 600px) {
  .imax {
    margin: 25px;
  }
}

@media screen and (min-width: 700px) {
  .rating-areas {
    flex-direction: row;
  }

  .original-rating-area, .proposed-rating-area {
    height: 150px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  iframe {
    height: 420px;
    width: 750px;
  }

  .guardians-of-the-galaxy-vol-3-logo,
  .the-guardians-of-the-galaxy-holiday-special-logo {
    height: 260px;
    width: 450px;
  }
}

@media screen and (min-width: 850px) {
  .imax {
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .ant-man-and-the-wasp-quantumania-logo {
    height: 300px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }

  .guardians-of-the-galaxy-vol-3-logo,
  .the-guardians-of-the-galaxy-holiday-special-logo {
    height: 300px;
    width: 500px;
  }
}
