body {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/847B8F8DAB774FB7C2E6C0A6872D30B34AA63DFCA816FF65DA6B41B70451FE72");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 20px auto;
  padding: 32px 0 32px 0;
}

b {
  font-family: arial;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 2px 5px blue;
}

.marvelstudios {
  width: 200px;
  margin: 0 auto;
}

.ant-man-and-the-wasp-quantumania-logo {
  height: 200px;
  width: 350px;
}

a.reference:link {
  text-decoration: underline;
  color: white;
}

a.reference:visited {
  color: white;
}

.Quantumania {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

p {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px blue;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px blue;
  height: 200px;
  width: 360px;
}

h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px blue;
}

.overview {
  margin-left: 25%;
  margin-right: 25%;
  text-shadow: 0px 2px 5px blue;
  text-align: center
}

.disneyplus {
  width: 150px;
  position: relative;
  bottom: -22px
}

@media screen and (min-width: 300px) {
  .ant-man-and-the-wasp-quantumania-logo {
    height: 175px;
    width: 300px;
  }

  iframe {
    height: 155px;
    width: 280px;
  }
}

@media screen and (min-width: 350px) {
  iframe {
    height: 190px;
    width: 340px;
  }
}

@media screen and (min-width: 500px) {
  iframe {
    height: 250px;
    width: 450px;
  }
}

@media screen and (min-width: 800px) {
  .marvelstudios {
    width: 300px;
  }

  iframe {
    height: 420px;
    width: 750px;
  }
}

@media screen and (min-width: 1000px) {
  .marvelstudios {
    width: 400px;
  }

  .ant-man-and-the-wasp-quantumania-logo {
    height: 300px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .marvelstudios {
    width: 500px;
  }
}