body {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/1CF2A4396D6F85ACE8D18205E546F33579E24969EFE3A2ED7B1CF6A518117D28/scale?width=2880&aspectRatio=1.78&format=jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding-bottom: 32px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: arial;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: yellow;
  font-family: arial;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: arial;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a:visited {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

b {
  font-family: arial;
  font-size: 40pt;
  color: white;
  text-shadow: 0px 2px 5px yellow;
}

.eternals-logo {
  height: 175px;
  width: 300px;
}

.Eternals {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin-left: 20px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

p {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px yellow;
  margin: 20px;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px yellow;
  width: 280px;
  height: 155px;
}

h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px yellow;
  margin: 20px;
}

li {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px yellow;
}

.overview {
  margin-left: 25%;
  margin-right: 25%;
  text-shadow: 0px 2px 5px yellow;
  text-align: center
}

.disneyplus {
  width: 150px;
  position: relative;
  bottom: -22px
}

.imax {
  width: 200px;
  border-radius: 7px;
  box-shadow: 0px 2px 5px yellow;
}

.custom-rating {
  margin-left: 15px;
}

.rating {
  width: 50px;
  box-shadow: 0px 2px 5px yellow;
}

@media screen and (min-width: 350px) {
  iframe {
    height: 190px;
    width: 340px;
  }  
}

@media screen and (min-width: 500px) {
  iframe {
    height: 250px;
    width: 450px;
  }
}

@media screen and (min-width: 800px) {
  .marvelstudios {
    width: 300px;
  }

  iframe {
    height: 420px;
    width: 750px;
  }
}

@media screen and (min-width: 1000px) {
  .marvelstudios {
    width: 400px;
  }

  .eternals-logo {
    height: 300px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .marvelstudios {
    width: 500px;
  }
}