body {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/1CF2A4396D6F85ACE8D18205E546F33579E24969EFE3A2ED7B1CF6A518117D28/scale?width=2880&aspectRatio=1.78&format=jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 20px auto;
  padding: 32px 0 32px 0;
}

b {
  font-family: arial;
  font-size: 40pt;
  color: white;
  text-shadow: 0px 2px 5px yellow;
}

.marvelstudios {
  width: 200px;
  margin: 0 auto;
}

.eternals-logo {
  height: 200px;
  width: 350px;
}

.Eternals {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

p {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px yellow;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px yellow;
  height: 250px;
  width: 450px;
}

h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px yellow;
}

li {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px yellow;
}

.overview {
  margin-left: 25%;
  margin-right: 25%;
  text-shadow: 0px 2px 5px yellow;
  text-align: center
}

.disneyplus {
  width: 150px;
  position: relative;
  bottom: -22px
}

.imax {
  width: 200px;
  border-radius: 7px;
  box-shadow: 0px 2px 5px yellow;
}

.custom-rating {
  margin-left: 15px;
}

.rating {
  width: 50px;
  box-shadow: 0px 2px 5px yellow;
}

@media screen and (min-width: 800px) {
  .marvelstudios {
    width: 300px;
  }

  iframe {
    height: 420px;
    width: 750px;
  }
}

@media screen and (min-width: 1000px) {
  .marvelstudios {
    width: 400px;
  }

  .eternals-logo {
    height: 300px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .marvelstudios {
    width: 500px;
  }
}