body {
  /*background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-purple-light-effect-electronic-technology-background-backgrounddatabusinessblueelectronictechnologyintelligentblue-backgroundtechnology-backgroundlightcool-image_78722.jpg");*/
  background-color: black;
  background-size: cover;
}
b {
  font-family: arial;
  font-size: 50pt;
  color: white;
}
.guardians3 {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
}
p {
  font-family: arial;
  font-size: xx-large;
  text-align: justify;
  width: [width of img];
  color: white;
}
h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
}