body {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/35B7F58526D0EBEE5E7B2914315B2E2EC97B6B9AA95F77DC9FE44BEFEF6A55A4/scale?width=2880&aspectRatio=1.78&format=jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 20px auto;
  padding: 32px 0 32px 0;
}

b {
  font-family: arial;
  font-size: 40pt;
  color: white;
  text-shadow: 0px 2px 5px red;
}

.iron-man-logo {
  height: 250px;
  width: 450px;
}

.Stark {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

p {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px red;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px red;
  height: 250px;
  width: 450px;
}

h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px red;
}

li {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px red;
}

.overview {
  margin-left: 25%;
  margin-right: 25%;
  text-shadow: 0px 2px 5px red;
  text-align: center;
}

.imax {
  width: 200px;
  border-radius: 7px;
  box-shadow: 0px 2px 5px red;
}

.custom-rating {
  margin-left: 15px;
}

.rating {
  width: 50px;
  box-shadow: 0px 2px 5px red;
}

@media screen and (min-width: 800px) {
  iframe {
    height: 420px;
    width: 750px;
  }
}

@media screen and (min-width: 1000px) {
  .iron-man-logo {
    height: 300px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }
}