body {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/75B81AF31E59B90E03DB1BE368EEF4AEF36E63B2955C61CB28E0BDEEE928DB13/scale?width=1920&aspectRatio=1.78&format=jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
b {
  font-family: arial;
  font-size: 40pt;
  color: white;
}
h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  margin-bottom: -2px;
}
p {
  font-family: arial;
  color: white;
}
li {
  font-family: arial;
  color: white;
}
.Venko {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
}
.overview {
  margin-left: 25%;
  margin-right: 25%;
}