body {
  /*background-image: url("https://www.fg-a.com/wallpapers/2020-black-crystalline-peaks-image.jpg");*/
  background-color: black;
  background-size: cover;
  margin: 0 20px auto;
  padding: 32px 0 32px 0;
}

b {
  font-family: avenir-light;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 2px 5px red;
}

.ironheart-logo {
  height: 180px;
  width: 320px;
}

.Ironheart {
  font-family: avenir-light;
  font-size: xx-large;
  background-color: red;
  border: none;
  color: white;
  border-radius: 10px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

p {
  font-family: avenir-light;
  color: white;
  text-shadow: 0px 2px 5px red;
}

h2 {
  font-family: avenir-light;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px red;
}

h3 {
  font-family: avenir-light;
  font-size: 35pt;
  color: white;
  text-shadow: 0px 2px 5px red;
}

.disneyplus {
  width: 150px;
  position: relative;
  bottom: -22px
}

h4 {
  font-family: avenir-light;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px red;
}

@media screen and (min-width: 300px) {
  .ironheart-logo {
    height: 160px;
    width: 280px;
  }
}

@media screen and (min-width: 400px) {
  .ironheart-logo {
    height: 180px;
    width: 320px;
  }
}

@media screen and (min-width: 500px) {
  .ironheart-logo {
    height: 225px;
    width: 420px;
  }
}

@media screen and (min-width: 600px) {
  .ironheart-logo {
    height: 300px;
    width: 470px;
  }
}

@media screen and (min-width: 700px) {
  .ironheart-logo {
    height: 370px;
    width: 660px;
  }
}

@media screen and (min-width: 800px) {
  .ironheart-logo {
    height: 430px;
    width: 780px;
  }
}

@media screen and (min-width: 1000px) {
  h3 {
    font-size: 50pt;
  }

  .ironheart-logo {
    height: 450px;
    width: 800px;
  }
}

@media screen and (min-width: 1200px) {
}