body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMjsq_11bqXgjjAf3pFPn05tiqAJxKAUwOzw&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;   
}

h2 {
  font-family: arial;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 2px 5px red;
  margin-bottom: 64px;
  margin-top: 0px;
}

.timer_message {
  font-family: arial;
  font-size: 35px;
  color: white;
  text-shadow: 0px 2px 5px red;
  margin: 0 32px auto;
}

#timer1, #timer2 {
  font-family: arial;
  font-size: 35px;
  color: white;
  text-shadow: 0px 2px 5px red;
  margin: 16px 64px auto;
  margin-bottom: 64px;
  text-align: center;
  font-weight: 700;
}

.review-schedule {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin: 0 auto;
  align-content: center;
  text-align: center;
  margin-bottom: 32px;
}

.universe {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 5px red;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}