body {
  /*background-image: url("https://www.fg-a.com/wallpapers/2020-black-crystalline-peaks-image.jpg");*/
  background-color: black;
  background-size: cover;
}
b {
  font-family: arial;
  font-size: 50pt;
  color: white;
}
.Secret {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
}
p {
  font-family: arial;
  font-size: xx-large;
  text-align: justify;
  width: [width of img];
  color: white;
}
h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
}
h3 {
  font-family: arial;
  font-size: 50pt;
  color: white;
}
h4 {
  font-family: arial;
  font-size: 25pt;
  color: white;
}