body {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/AFACA5C634CC5507FFEE656D71DC61BD169205450381D225E90D3A545E919E40/");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

b {
  font-family: arial;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 2px 5px green;
}

img {
  height: 250px;
  width: 450px;
}

p {
  font-family: arial;
  font-size: xx-large;
  text-align: justify;
  width: [width of img];
  color: white;
  text-shadow: 0px 2px 5px green;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 450px;
}

img {
  border-radius: 10px;
  box-shadow: 0px 2px 25px green;
}

.she-hulk-episodes {
  margin: 0 32px auto;
}

.item {
  margin-bottom: 30px;
}

table {
  width: 100%;
}

.caption {
  display: block;
  font-family: arial;
  font-size: large;
  color: white;
  margin-top: 3%;
  text-shadow: 0px 2px 5px green;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px green;
}

.she-hulk-logo {
  box-shadow: none;
}

h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px green;
}

h3 {
  font-family: arial;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 2px 5px green;
}

h4 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px green;
}

.she-hulk {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
}

a:link {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}