body {
  background-image: url("https://images.pexels.com/videos/3045163/free-video-3045163.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}
b {
  font-family: arial;
  font-size: 50pt;
  color: white;
}
img {
  height: 300px;
  width: 500px;
}
.SpideyFreshman {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
}
p {
  font-family: arial;
  font-size: xx-large;
  text-align: justify;
  width: [width of img];
  color: white;
}
h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
}
