body {
  background-image: url("https://is1-ssl.mzstatic.com/image/thumb/Video113/v4/d2/e3/08/d2e3086d-01ed-2b5c-bf98-797f46fe8d27/SPE_SPIDER-MAN_FAR_FROM_HOME_TH_FINAL_WIDE_WW_ARTWORK_4320x3240_1SN6S000000F53.png/3358x1889sr.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
b {
  font-family: arial;
  font-size: 40pt;
  color: white;
}
h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  margin-bottom: -2px;
}
p {
  font-family: arial;
  color: white;
}
li {
  font-family: arial;
  color: white;
}
.Spidey {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
}
.overview {
  margin-left: 25%;
  margin-right: 25%;
}
a {
  color: white;
}
