body {
  margin: 0;
}

.TM, .WIS2, .WIS2E1, .LS2, .LS2E6 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 20px;
}

.TM {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/EA1EA126856DC3CADB764377616605E89CD430DA958FDE90189B476BCFDCB59B");
}

.WIS2 {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/71F9CDE799C548C0B092B49BB9DF95F64796BC1141079EA2EAEBF7BD0361FCC6");
}

.WIS2E1 {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CD602FA558DEC8488CF5A9C22D7AE43B884FA3B8EC837B6569C84DE56FA4EBC7");
}

.LS2 {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/E435D3AE241144942F6115D87A90C7A95910583696F33D9A7060DCFB4B6DAAA6");
}

.LS2E6 {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/EE5FB8DF9CC2CEC1102ADDF022A4AC04E442F5DAF9137EB630A043C962C2A458");
}

.WIS2, .WIS2E1, .LS2, .LS2E6 {
  padding-bottom: 200px;
}

.navbar a, .dropdown .dropbtn, 
.navbar a:hover, 
.dropdown:hover .dropbtn, 
.dropdown-content a,  
h2, h3, h4, p, button,
button a:link,
button a:visited {
  font-family: avenir-light;  
  color: white;  
}

.navbar a, .dropdown,
.dropdown-content a {
  float: left;
}

.dropdown-content a, 
.dropdown:hover .dropdown-content,
.the-marvels-logo,
.what-if-season-2-logo,
.loki-season-2-logo, 
iframe {
  display: block;
}

.navbar, .dropdown {
  overflow: hidden;  
}

.navbar {
  background-color: #333;
  width: 100%;
}

.navbar a, .dropdown .dropbtn {
  font-size: 16px;  
}

.navbar a, 
.dropdown .dropbtn {
  padding: 14px 16px;
}

.navbar a, h2, h3, h4, p, button {
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, 
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, 
.dropdown-content a:visited {
  color: black;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.the-marvels-logo,
.what-if-season-2-logo,
.loki-season-2-logo {
  height: 155px;
  width: 260px;
  box-shadow: none;
}

.the-marvels-logo,
.what-if-season-2-logo,
.loki-season-2-logo,
iframe {
  margin: auto;
}

.what-if-season-2-logo,
.loki-season-2-logo {
  padding-top: 200px;
  padding-bottom: 50px;
}

.what-if-season-2-logo {
  padding-left: 10px;
}

h2, h3, p {
  text-shadow: 0px 2px 5px red;
}

h2, h4 {
  font-size: 25pt;
}

h3 {
  font-size: 30pt;
}

.disneyplus {
  height: 75px;
  width: 130px;
  position: relative;
  bottom: -17px;
  box-shadow: none;
}

.Danvers, .next {
  font-size: xx-large;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.next {
  display: block;
  margin: auto;
}

button a:link {
  text-decoration: none;
}

button a:hover, a:active {
  text-decoration: underline;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px red;
  height: 150px;
  width: 260px;
}

@media screen and (min-width: 350px) {
  iframe {
    height: 190px;
    width: 340px;
  }  
}

@media screen and (min-width: 400px) {
  .the-marvels-logo {
    height: 180px;
    width: 320px;
  }
}

@media screen and (min-width: 500px) {
  .the-marvels-logo {
    height: 225px;
    width: 420px;
  }

  .what-if-season-2-logo,
  .loki-season-2-logo {
    height: 200px;
    width: 350px;
  }

  iframe {
    height: 250px;
    width: 450px;
  }
}

@media screen and (min-width: 600px) {
  .the-marvels-logo {
    height: 300px;
    width: 470px;
  }
}

@media screen and (min-width: 700px) {
  .the-marvels-logo {
    height: 370px;
    width: 660px;
  }
}

@media screen and (min-width: 800px) {
  .the-marvels-logo {
    height: 430px;
    width: 780px;
  }  

  .what-if-season-2-logo,
  .loki-season-2-logo {
    height: 260px;
    width: 450px;
  }

  iframe {
    height: 420px;
    width: 750px;
  }
}

@media screen and (min-width: 1000px) {
  b {
    font-size: 50pt;
  }

  h2 {
    font-size: 25pt;
  }

  h3 {
    font-size: 40pt;
  }

  .the-marvels-logo {
    height: 450px;
    width: 800px;
  }    

  .what-if-season-2-logo,
  .loki-season-2-logo {
    height: 300px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }
}