body {
  /*background-image: url("https://image.freepik.com/free-vector/linear-neon-red-blue-lights-background-design_1017-25202.jpg");*/
  background-color: black;
  background-size: cover;
  margin: 0 20px auto;
  padding: 32px 0 32px 0;
}

b {
  font-family: arial;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 2px 5px red;
}

.marvelstudios {
  width: 200px;
  margin: 0 auto;
}

.the-marvels-logo {
  height: 180px;
  width: 320px;
}

.Danvers {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

p {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px red;
}

h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px red;
}

@media screen and (min-width: 300px) {
  .the-marvels-logo {
    height: 160px;
    width: 280px;
  }
}

@media screen and (min-width: 400px) {
  .the-marvels-logo {
    height: 180px;
    width: 320px;
  }
}

@media screen and (min-width: 500px) {
  .the-marvels-logo {
    height: 225px;
    width: 420px;
  }
}

@media screen and (min-width: 600px) {
  .the-marvels-logo {
    height: 300px;
    width: 470px;
  }
}

@media screen and (min-width: 700px) {
  .marvelstudios {
    width: 300px;
  }

  .the-marvels-logo {
    height: 370px;
    width: 660px;
  }
}

@media screen and (min-width: 800px) {
  .marvelstudios {
    width: 300px;
  }

  .the-marvels-logo {
    height: 430px;
    width: 780px;
  }
}

@media screen and (min-width: 1000px) {
  .marvelstudios {
    width: 400px;
  }

  .the-marvels-logo {
    height: 450px;
    width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  .marvelstudios {
    width: 500px;
  }
}