body {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/1A09E9B311E359AAB744602B0F400C6B3B3A4D2B5CD245C6A4F5F27993889507/");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

b {
  font-family: arial;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 2px 5px gray;
}

.werewolf {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
}

img {
  height: 200px;
  width: 350px;
}

a:link {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

p {
  font-family: arial;
  font-size: xx-large;
  text-align: justify;
  width: [width of img];
  color: white;
  text-shadow: 0px 2px 5px gray;
}

iframe {
  width: 350px;
  height: 200px;
  border-radius: 25px;
  box-shadow: 0px 10px 15px gray;
}

h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px #808080;
}

@media screen and (min-width: 500px) {
  iframe {
    width: 475px;
    height: 275px;
  }
}

@media screen and (min-width: 800px) {
  iframe {
    width: 750px;
    height: 425px;
  }
}

@media screen and (min-width: 1000px) {
  iframe {
    width: 900px;
    height: 500px;
  }

  img {
    height: 300px; 
    width: 500px;
  }
}