body {
  margin: 0;
}

.WBN {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CFA33C88B6B2C96A6F302BA936ED43806EE37B868E7B2F3704711B499B60C4D9");  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 20px;
  padding-bottom: 32px;   
}

.navbar a, .dropdown .dropbtn, 
.navbar a:hover, 
.dropdown:hover .dropbtn, 
.dropdown-content a,  
h2, h3, h4, p, button,
button a:link,
button a:visited,
a:visited,
a.reference:link,
a.reference:visited {
  font-family: avenir-light;  
  color: white;  
}

.navbar a, .dropdown,
.dropdown-content a {
  float: left;
}

.dropdown-content a, 
.dropdown:hover .dropdown-content,
.werewolf-by-night-logo {
  display: block;
}

.navbar, .dropdown {
  overflow: hidden;  
}

.navbar {
  background-color: #333;
  width: 100%;
}

.navbar a, .dropdown .dropbtn {
  font-size: 16px;  
}

.navbar a, 
.dropdown .dropbtn {
  padding: 14px 16px;
}

.navbar a, h2, h3, h4, p, button {
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, 
.dropdown:hover .dropbtn {
  background-color: gray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, 
.dropdown-content a:visited {
  color: black;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.werewolf-by-night-logo {
  margin: auto;
  height: 155px;
  width: 260px;
  box-shadow: none;
}

h2, h3, p {
  text-shadow: 0px 2px 5px gray;
}

h2, h4 {
  font-size: 25pt;
}

h3 {
  font-size: 20pt;
  margin: 0;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  align-content: center;
  margin: 32px 0 auto;
  width: 100%;
}

div.item:hover {
  transition: 1s;
  transform: scale(1.1);
}

img {
  width: 250px;
  height: 135px;
  border-radius: 10px;
  box-shadow: 0px 2px 25px red;
}

.caption {
  display: block;
  font-family: avenir-light;
  font-size: large;
  color: white;
  margin-top: 16px;
  text-shadow: 0px 2px 5px red;
}

.werewolf {
  font-size: xx-large;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}

button a:link {
  text-decoration: none;
}

button a:hover, a:active {
  text-decoration: underline;
}


@media screen and (min-width: 500px) {
  .werewolf-by-night-logo {
    height: 200px;
    width: 350px;
  }

  img {
    width: 400px;
    height: 225px;
  }
}

@media screen and (min-width: 800px) {
  .werewolf-by-night-logo {
    height: 260px;
    width: 450px;
  }

  div.item {
    width: 49%;
  }

  img {
    width: 325px;
    height: 185px;
  }
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 25pt;
  }

  .werewolf-by-night-logo {
    height: 300px;
    width: 500px;
  }

  img {
    width: 400px;
    height: 225px;
  }
}

@media screen and (min-width: 1200px) {
  img {
    width: 350px;
    height: 200px;
  }
}

@media screen and (min-width: 1400px) {
  img {
    width: 450px;
    height: 250px;
  }
}