body {
  margin: 0;
}

.WIS2, .WIS2E1, .E, .EE1, .TM {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 20px;
}

.WIS2 {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/71F9CDE799C548C0B092B49BB9DF95F64796BC1141079EA2EAEBF7BD0361FCC6");
  background-color: black;
  padding-bottom: 32px; 
}

.WIS2E1 {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CD602FA558DEC8488CF5A9C22D7AE43B884FA3B8EC837B6569C84DE56FA4EBC7");
}

.E {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/9ECB3D60E83CB81C826471BB0550F7A541EF93311252A1F362D48158404778B0");
}

.EE1 {
  background-image: url("https://i.ytimg.com/vi/0jcVmmqtKQI/maxresdefault.jpg");
}

.TM {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/83BE23C45F654325CFC68EE5A8162820601E647A86BAC1944A771F36A8F07500");
}

.WIS2E1, .E, .EE1, .TM {
  padding-bottom: 200px;
}

.navbar a, .dropdown .dropbtn, 
.navbar a:hover, 
.dropdown:hover .dropbtn, 
.dropdown-content a,  
h2, h3, h4, p, button,
button a:link,
button a:visited {
  font-family: avenir-light;  
  color: white;  
}

.navbar a, .dropdown,
.dropdown-content a {
  float: left;
}

.dropdown-content a, 
.dropdown:hover .dropdown-content,
.what-if-season-2-logo,
.what-if-season-2-bottom-logo,
.echo-logo,
.the-marvels-logo, iframe {
  display: block;
}

.navbar, .dropdown {
  overflow: hidden;  
}

.navbar {
  background-color: #333;
  width: 100%;
}

.navbar a, .dropdown .dropbtn {
  font-size: 16px;  
}

.navbar a, 
.dropdown .dropbtn {
  padding: 14px 16px;
}

.navbar a, h2, h3, h4, p, button {
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, 
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, 
.dropdown-content a:visited {
  color: black;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.what-if-season-2-logo,
.echo-logo,
.what-if-season-2-bottom-logo,
.the-marvels-logo {
  height: 155px;
  width: 260px;
  box-shadow: none;
}

.what-if-season-2-logo,
.echo-logo,
.what-if-season-2-bottom-logo,
.the-marvels-logo, iframe {
  margin: auto;
}

.echo-logo, 
.what-if-season-2-bottom-logo,
.the-marvels-logo {
  padding-top: 200px;
  padding-bottom: 50px;
}

.what-if-season-2-logo,
.what-if-season-2-bottom-logo {
  padding-left: 10px;
}

h2, h3, p {
  text-shadow: 0px 2px 5px red;
}

h2, h4 {
  font-size: 25pt;
}

h3 {
  font-size: 30pt;
}

.disneyplus {
  height: 75px;
  width: 130px;
  position: relative;
  bottom: -17px;
  box-shadow: none;
}

.what-if, .next {
  font-size: xx-large;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.next {
  display: block;
  margin: auto;
}

button a:link {
  text-decoration: none;
}

button a:hover, a:active {
  text-decoration: underline;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px red;
  height: 150px;
  width: 260px;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: 32px 0 auto;
  width: 100%;
}

img {
  width: 250px;
  height: 135px;
  border-radius: 10px;
  box-shadow: 0px 2px 25px red;
}

.item {
  margin: 0 32px auto;
  align-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.caption {
  display: block;
  font-family: avenir-light;
  font-size: large;
  color: white;
  margin-top: 3%;
  text-shadow: 0px 2px 5px red;
}

@media screen and (min-width: 350px) {
  iframe {
    height: 190px;
    width: 340px;
  }  
}

@media screen and (min-width: 500px) {
  .what-if-season-2-logo,
  .echo-logo,
  .what-if-season-2-bottom-logo,
  .the-marvels-logo {
    height: 200px;
    width: 350px;
  }

  iframe {
    height: 250px;
    width: 450px;
  }

  img {
    width: 400px;
    height: 225px;
  }
}

@media screen and (min-width: 800px) {
  .what-if-season-2-logo,
  .echo-logo,
  .what-if-season-2-bottom-logo,
  .the-marvels-logo {
    height: 260px;
    width: 450px;
  }

  .item {
    width: 49%;
  }

  .item.what-if-s2e9 {
    width: 100%;
  }

  img {
    width: 330px;
    height: 185px;
  }

  iframe {
    height: 420px;
    width: 750px;
  }
}

@media screen and (min-width: 1000px) {
  b {
    font-size: 50pt;
  }

  h2 {
    font-size: 25pt;
  }

  h3 {
    font-size: 40pt;
  }

  .what-if-season-2-logo,
  .echo-logo,
  .what-if-season-2-bottom-logo,
  .the-marvels-logo {
    height: 300px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }

  div.item {
    width: 49%;
  }

  img {
    width: 400px;
    height: 225px;
  }
}

@media screen and (min-width: 1200px) {
  div.item {
    width: 33%;
  }

  .item.what-if-s2e9 {
    width: 33%;
  }

  img {
    width: 350px;
    height: 200px;
  }
}

@media screen and (min-width: 1400px) {
  img {
    width: 450px;
    height: 250px;
  }
}