body {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/732563993167BE6BC7BEA97133BABCE3504E6819C903D6C4A21DD7D29E511ED5/");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  padding-bottom: 32px;
}

b {
  font-family: arial;
  font-size: 50px;
  color: white;
  text-shadow: 0px 2px 5px yellow;
  margin-bottom: 64px;
}

h2 {
  font-family: arial;
  font-size: 35px;
  color: white;
  text-shadow: 0px 2px 5px yellow;
  margin: 0 auto;
  margin-top: 32px;
}

.watxm-logo {
  box-shadow: none;
  margin-left: 52px;
}

p {
  font-family: arial;
  font-size: large;
  color: white;
  text-align: justify;
  text-shadow: 0px 2px 5px yellow;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: 32px 0 auto;
  width: 100%;
}

img {
  width: 250px;
  height: 135px;
  border-radius: 10px;
  box-shadow: 0px 2px 25px yellow;
}

.caption {
  display: block;
  font-family: arial;
  font-size: large;
  color: white;
  margin-top: 16px;
  text-shadow: 0px 2px 5px yellow;
}

.item.watxm-ep25, .item.watxm-ep26 {
  margin: 32px 0 auto;
  align-content: center;
  text-align: center;
  width: 100%;
}

.watxm {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin: 0 auto;
  align-content: center;
  text-align: center;
  margin-top: 32px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

a:active {
  color: red;
  text-decoration: none;
}

.item {
  margin-bottom: 32px;
}

@media screen and (min-width: 500px) {
  img {
    width: 400px;
    height: 225px;
  }
}

@media screen and (min-width: 800px) {
  div.item {
    width: 49%;
  }

  img {
    width: 350px;
    height: 185px;
  }

  .item.watxm-ep25, .item.watxm-ep26 {
    margin: 32px 0 auto;
    align-content: center;
    text-align: center;
    width: 49%;
  }
}

@media screen and (min-width: 1000px) {
  b {
    font-size: 50pt;
  }

  h2 {
    font-size: 35pt;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  div.item {
    width: 49%;
  }

  img {
    width: 400px;
    height: 225px;
  }
}

@media screen and (min-width: 1200px) {
  .item.watxm-ep25 {
    margin: 32px 0 auto;
    align-content: center;
    text-align: center;
    width: 55%;
  }
  
  .item.watxm-ep26 {
    margin: 32px 0 auto;
    align-content: center;
    text-align: center;
    width: 33%;
  }

  div.item {
    width: 33%;
  }

  img {
    width: 350px;
    height: 200px;
  }
}

@media screen and (min-width: 1400px) {
  div.item {
    width: 33%;
  }

  img {
    width: 450px;
    height: 250px;
  }
}