body {
  margin: 0;
}

.TGOTGHS, .BPWF, .AMATWQ {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.TGOTGHS {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/2CB6E9F712372DB68C20F8918BEEBC077C193CD279110215087DE51EE2F317C1");
  padding-bottom: 32px;
}

.BPWF {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/D4AF85A95E6E05F2A2DAEED2D23A36FB3DB2CFC8D2D78C151E5181E36C6680A4");
}

.AMATWQ {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/2DAE3601A504ABA3A5588D173A6FE4106E81EB1F87BC365388AEFA7E83879C31");
}

.AMATWQ, .BPWF {
  padding-bottom: 200px;
}

.navbar a, .dropdown .dropbtn, 
.navbar a:hover, 
.dropdown:hover .dropbtn, 
.dropdown-content a,  
h2, h3, h4, p, button,
.overview,
button a:link,
button a:visited,
a:visited,
a.reference  {
  font-family: avenir-light;  
  color: white;  
}

.navbar a, .dropdown,
.dropdown-content a {
  float: left;
}

.dropdown-content a, 
.dropdown:hover .dropdown-content,
.the-guardians-of-the-galaxy-holiday-special-logo,
.ant-man-and-the-wasp-quantumania-logo,
.black-panther-wakanda-forever-logo, 
iframe, .tv-14-lv-rating,
.tv-pg-lv-rating {
  display: block;
}

.navbar, .dropdown {
  overflow: hidden;  
}

.navbar {
  background-color: #333;
  width: 100%;
}

.navbar a, .dropdown .dropbtn {
  font-size: 16px;  
}

.navbar a, 
.dropdown .dropbtn {
  padding: 14px 16px;
}

.navbar a, h2, h3, h4, p, button {
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, 
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, 
.dropdown-content a:visited {
  color: black;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.the-guardians-of-the-galaxy-holiday-special-logo,
.ant-man-and-the-wasp-quantumania-logo,
.black-panther-wakanda-forever-logo {
  height: 155px;
  width: 260px;
  box-shadow: none;
}

.the-guardians-of-the-galaxy-holiday-special-logo,
.ant-man-and-the-wasp-quantumania-logo,
.black-panther-wakanda-forever-logo,
iframe, .rating-areas, 
.original-rating-area,
.proposed-rating-area,
.tv-14-lv-rating,
.tv-pg-lv-rating {
  margin: auto;
}

.ant-man-and-the-wasp-quantumania-logo,
.black-panther-wakanda-forever-logo {
  padding-top: 200px;
  padding-bottom: 50px;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px red;
  height: 150px;
  width: 260px;
}

.overview,
h2.rating-areas {
  text-align: center ;
}

.overview {
  margin-left: 25%;
  margin-right: 25%;
}

a.reference:link, 
a.reference:active {
  text-decoration: underline;
}

h2, h3, p {
  text-shadow: 0px 2px 5px red;
}

h2, h4 {
  font-size: 25pt;
}

h3 {
  font-size: 20pt;  
  margin: 0 20px auto;
}

h2.ratings {
  margin: 0 auto;
}

.rating-areas {
  display: flex;
  flex-direction: column;
}

.original-rating-area, 
.proposed-rating-area {
  height: 150px;
}

.tv-14-lv-rating, 
.tv-pg-lv-rating {
  position: relative;
  width: 100px;
  height: 100px;
  box-shadow: none;
  border-radius: 0px;
  margin-top: 20px;
}

.disneyplus {
  height: 75px;
  width: 130px;
  position: relative;
  bottom: -17px;
  box-shadow: none;
}

.Holiday, .next {
  font-size: xx-large;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.Holiday {
  margin-left: 20px;
}

.next {
  display: block;
  margin: auto;
}

button a:link {
  text-decoration: none;
}

button a:hover, a:active {
  text-decoration: underline;
}

@media screen and (min-width: 300px) {
  .the-guardians-of-the-galaxy-holiday-special-logo {
    height: 160px;
    width: 280px;
  }

  iframe {
    height: 155px;
    width: 280px;
  }

  .original-rating-area, 
  .proposed-rating-area {
    height: 200px;
    margin: 0 auto;
  }

  .ant-man-and-the-wasp-quantumania-logo,
  .black-panther-wakanda-forever-logo {
    height: 160px;
    width: 280px;
  }
}

@media screen and (min-width: 350px) {
  iframe {
    height: 190px;
    width: 340px;
  }
}

@media screen and (min-width: 500px) {
  iframe {
    height: 250px;
    width: 450px;
  }
}

@media screen and (min-width: 700px) {
  .rating-areas {
    flex-direction: row;
  }

  .original-rating-area, 
  .proposed-rating-area {
    height: 150px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .the-guardians-of-the-galaxy-holiday-special-logo {
    height: 260px;
    width: 450px;
  }

  iframe {
    height: 420px;
    width: 750px;
  }

  .ant-man-and-the-wasp-quantumania-logo,
  .black-panther-wakanda-forever-logo {
    height: 260px;
    width: 450px;
  }
}

@media screen and (min-width: 1000px) {
  b {
    font-size: 50pt;
  }

  h2 {
    font-size: 25pt;
  }

  .the-guardians-of-the-galaxy-holiday-special-logo,
  .ant-man-and-the-wasp-quantumania-logo,
  .black-panther-wakanda-forever-logo   {
    height: 300px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }
}