body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMjsq_11bqXgjjAf3pFPn05tiqAJxKAUwOzw&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin: 0;
  padding-bottom: 32px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: avenir-light;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: avenir-light;
  margin: 0;
}

.navbar a:hover, 
.dropdown:hover .dropbtn {
  background-color: red;
  font-family: avenir-light;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: avenir-light;
}

.dropdown-content a:link {
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a:visited {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  font-family: avenir-light;
  font-size: 40pt;
  color: white;
  text-shadow: 0px 2px 5px red;
  margin: 0;
  text-align: center;
}

h2 {
  margin-top: 0px;
}

h2.phase,
h2.next-installment,
h2.coming-soon  {
  margin-top: 25pt;
}

h2, h2.phase,
h2.next-installment,
h2.coming-soon  {
  font-family: avenir-light;
  font-size: 35px;
  color: white;
  text-shadow: 0px 2px 5px red;
  margin-bottom: 0px;
  text-align: center;
}

p {
  font-family: avenir-light;
  font-size: large;
  color: white;
  text-align: justify;
  text-shadow: 0px 2px 5px red;
}

.timer_message {
  font-family: avenir-light;
  font-size: 35px;
  color: white;
  text-shadow: 0px 2px 5px red;
  margin: 0 32px auto;
}

#timer1, #timer2, #timer3, 
#timer4, #timer5, #timer6,
#timer7, #timer8 {
  font-family: avenir-light;
  font-size: 35px;
  color: white;
  text-shadow: 0px 2px 5px red;
  margin: 16px 64px auto;
  margin-bottom: 64px;
  text-align: center;
  font-weight: 700;
}

.review-schedule, 
.release-schedule {
  font-family: avenir-light;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin: 20px;
  align-content: center;
  text-align: center;
  margin-bottom: 32px;
}

.review-schedule:hover,
.release-schedule:hover {
  transition: 1s;
  transform: scale(1.1);
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

div#phase1,
div#phase2,
div#phase3,
div#phase4,
div#phase5,
div#phase5Next,
div#phase5Upcoming,
div#phase6,
div#phaseUnknown {
  display: none;
}

button.contentHider {
  font-family: avenir-light;
  color: white;
  text-shadow: 0px 2px 5px red;
  border: none;
  background: none;
  font-size: 40px;
  font-weight: 900;
  margin: 40px 0 0 0;
  text-decoration: underline;
  text-align: center;
  display: flex;
  margin: 0 auto;
  margin-top: 20pt;
}

button.contentHider.next,
button.contentHider.upcoming {
  display: flex;
  margin: auto;
  margin-top: 5px;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  align-content: center;
  margin: 32px 0 auto;
  width: 100%;
}

div.item:hover {
  transition: 1s;
  transform: scale(1.1);
}

img {
  width: 250px;
  height: 135px;
  border-radius: 10px;
  box-shadow: 0px 2px 25px red;
}

.caption {
  display: block;
  font-family: avenir-light;
  font-size: large;
  color: white;
  margin-top: 16px;
  text-shadow: 0px 2px 5px red;
}

.back {
  font-family: avenir-light;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin: 0 auto;
  align-content: center;
  text-align: center;
  margin-top: 32px;
  margin-left: 20px;
  display: flex;
}

.back:hover {
  transition: 1s;
  transform: scale(1.1);
}

.item {
  margin-bottom: 32px;
}

@media screen and (min-width: 500px) {
  b, h2 {
    font-size: 50px;
  }

  img {
    width: 400px;
    height: 225px;
  }
}

@media screen and (min-width: 800px) { 
  div.item.spider-man-ffh,
  div.item.ironheart {
    width: 100%;
  }

  div.item {
    width: 49%;
  }

  img {
    width: 325px;
    height: 185px;
  }
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 50pt;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  div.item {
    width: 49%;
  }

  img {
    width: 400px;
    height: 225px;
  }
}

@media screen and (min-width: 1200px) {
  div.item.avengers-endgame, 
  div.item.punisher,
  div.item.blade {
    width: 55%;
  }

  div.item,
  div.item.spider-man-ffh,
  div.item.avengers-sw {
    width: 33%;
  }

  img {
    width: 350px;
    height: 200px;
  }
}

@media screen and (min-width: 1400px) {
  div.item {
    width: 33%;
  }

  img {
    width: 450px;
    height: 250px;
  }
}