body {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/2F5978CAC493C32EF35CEF3B1C4AD5BF10541AF6A3C6C84350D7DAEEAEEB648C");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
b {
  font-family: arial;
  font-size: 40pt;
  color: white;
}
h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  margin-bottom: -2px;
}
p {
  font-family: arial;
  color: white;
}
li {
  font-family: arial;
  color: white;
}
.Spidey {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
}
.overview {
  margin-left: 25%;
  margin-right: 25%;
}
a {
  color: white;
}

