body {
  background-image: url("https://disney.images.edge.bamgrid.com/ripcut-delivery/v2/variant/disney/6354e7fa-270a-4abc-8b91-ef132e6a9a5e/compose?"); 
  background-color: black;
  background-size: cover;
  margin: 0;
}

.DP&W {
  background-size: cover;  
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar a, .dropdown .dropbtn, 
.navbar a:hover, 
.dropdown:hover .dropbtn, 
.dropdown-content a,  
h2, h3, h4, p, button,
button a:visited {
  font-family: avenir-light;  
  color: white;  
}

.navbar a, .dropdown,
.dropdown-content a {
  float: left;
}

.dropdown-content a, 
.dropdown:hover .dropdown-content,
.deadpool-3-logo, iframe {
  display: block;
}

.navbar, .dropdown {
  overflow: hidden;  
}

.navbar {
  background-color: #333;
  width: 100%;
}

.navbar a, .dropdown .dropbtn {
  font-size: 16px;  
}

.navbar a, 
.dropdown .dropbtn {
  padding: 14px 16px;
}

.navbar a, h2, h3, h4, p, button {
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, 
.dropdown:hover .dropbtn {
  background-color: yellow;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, 
.dropdown-content a:visited {
  color: black;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

h2, h3, h4, p, button {
  margin: 0 20px;  
}

h2, h3, h4, p {
  text-shadow: 0px 2px 5px red;
}

p {
  font-size: xx-large;
  text-align: justify;
  width: [width of img];
}

h2, h4 {
  font-size: 25pt;
  padding-top: 20px;
  padding-bottom: 50px;
}

h3 {
  font-size: 50pt;
}

.deadpool-and-wolverine-logo {
  height: 140px;
  width: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
	display: block
}

iframe {
  height: 155px;
  width: 280px;
  border-radius: 25px;
  box-shadow: 0px 10px 15px red;
  margin: auto;
}

.disneyplus {
  width: 150px;
  position: relative;
  bottom: -22px;
}

.deadpool-3 {
  font-size: xx-large;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

button a:link {
  text-decoration: none;
}

button a:hover, a:active {
  text-decoration: underline;
}

@media screen and (min-width: 350px) {
  iframe {
    height: 190px;
    width: 340px;
  }
}

@media screen and (min-width: 400px) {
	.deadpool-and-wolverine-logo {
		height: 180px;
		width: 350px;
	}
}

@media screen and (min-width: 500px) {
	.deadpool-and-wolverine-logo {
		height: 230px;
		width: 440px;				
	}

  iframe {
    height: 250px;
    width: 450px;
  }
}

@media screen and (min-width: 800px) {
  .deadpool-and-wolverine-logo {
    height: 280px;
    width: 520px;
  }	

  iframe {
    height: 420px;
    width: 750px;
  }  
}

@media screen and (min-width: 1000px) {
  .deadpool-and-wolverine-logo {
    height: 300px;
    width: 580px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }  
}

@media screen and (min-width: 1200px) {
  .deadpool-and-wolverine-logo {
    height: 340px;
    width: 640px;
  }
}

@media screen and (min-width: 1400px) {
  .deadpool-and-wolverine-logo {
    height: 360px;
    width: 700px;
  }
}
