body {
  margin: 0;
}

.GOTGV3, .SI, .SIE1, .AMATWQ {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.GOTGV3 {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/3BFF59C6EA462892C6BB0EB0C0180D56A96C1F7A66FFD55C2CDD536A596098E0");
  padding-bottom: 32px;
}

.SI {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/0F536C481F5589394D22E66D6B8E638F562A3EC7D743D8ECCBA50789F330B4A0");
}

.SIE1 {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/76E56364353D0174E85C652479B2B4AC14B7F7510DA18ED09513B8379D332974");
}

.AMATWQ {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/2DAE3601A504ABA3A5588D173A6FE4106E81EB1F87BC365388AEFA7E83879C31");
}

.SI, .SIE1, .AMATWQ {
  padding-bottom: 200px;
}

.navbar a, .dropdown .dropbtn, 
.navbar a:hover, 
.dropdown:hover .dropbtn, 
.dropdown-content a,  
h2, h3, p, button,
button a:link,
button a:visited,
a:visited,
a.reference:link,
a.reference:visited {
  font-family: avenir-light;  
  color: white;  
}

.navbar a, .dropdown,
.dropdown-content a {
  float: left;
}

.dropdown-content a, 
.dropdown:hover .dropdown-content,
.guardians-of-the-galaxy-vol-3-logo,
.secret-invasion-logo,
.ant-man-and-the-wasp-quantumania-logo,
iframe, .next {
  display: block;
}

.navbar, .dropdown {
  overflow: hidden;  
}

.navbar {
  background-color: #333;
  width: 100%;
}

.navbar a, .dropdown .dropbtn {
  font-size: 16px;  
}

.navbar a, 
.dropdown .dropbtn {
  padding: 14px 16px;
}

.navbar a, h2, h3, h4, p, button {
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, 
.dropdown:hover .dropbtn {
  background-color: purple;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, 
.dropdown-content a:visited {
  color: black;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.guardians-of-the-galaxy-vol-3-logo,
.secret-invasion-logo,
.ant-man-and-the-wasp-quantumania-logo,
iframe, .next {
  margin: auto;
}

.guardians-of-the-galaxy-vol-3-logo,
.secret-invasion-logo,
.ant-man-and-the-wasp-quantumania-logo {
  height: 200px;
}

.guardians-of-the-galaxy-vol-3-logo,
.secret-invasion-logo {
  width: 340px;
}

.secret-invasion-logo,
.ant-man-and-the-wasp-quantumania-logo {
  padding-top: 200px;
  padding-bottom: 50px;
}

.ant-man-and-the-wasp-quantumania-logo {
  width: 350px;
}

h2, h3, h4, p {
  text-shadow: 0px 2px 5px purple;
  text-align: center;
}

a.reference:link {
  text-decoration: underline;
}

.guardians3, .next {
  font-size: xx-large;
  background-color: red;
  border: none;
  color: white;
  border-radius: 10px;
}

.guardians3 {
  margin-left: 20px;  
}

.next {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

a:visited, a:hover {
  text-decoration: underline;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px purple;
  height: 200px;
  width: 360px;
}

h2 {
  font-size: 25pt;
  margin: 20px;
}

li {
  font-family: avenir-light;
  color: white;
  text-shadow: 0px 2px 5px purple;
}

.overview {
  margin-left: 25%;
  margin-right: 25%;
  text-shadow: 0px 2px 5px purple;
  text-align: center
}

h3 {
  font-size: 20pt;
  margin-top: 20px;
  margin-bottom: 0;
}

.rating-areas {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.original-rating-area, 
.proposed-rating-area {
  height: 150px;
  margin: auto;
}

.pg-13-rating, 
.r-rating {
  position: relative;
  filter: invert(1);
  object-fit: cover;
  width: 250px;
  height: 250px;  
  bottom: 55px;      
}

.r-rating {
  right: 10px;
}

.disneyplus {
  width: 150px;
  position: relative;
  bottom: -22px;
}

.imax {
  width: 200px;
  border-radius: 7px;
  box-shadow: 0px 2px 5px purple;
  position: relative;
  top: 5px;
}

@media screen and (min-width: 300px) {
  .guardians-of-the-galaxy-vol-3-logo, 
  .secret-invasion-logo {
    height: 160px;
    width: 280px;
  }

  iframe {
    height: 155px;
    width: 280px;
  }

  .original-rating-area, .proposed-rating-area {
    height: 200px;
    margin: 0 auto;
  }

  .imax {
    margin: 25px;
  }

  .ant-man-and-the-wasp-quantumania-logo {
    height: 175px;
    width: 300px;
  }
}

@media screen and (min-width: 350px) {
  iframe {
    height: 190px;
    width: 340px;
  }
}

@media screen and (min-width: 500px) {
  iframe {
    height: 250px;
    width: 450px;
  }

  .imax {
    margin: 0;
  }
}

@media screen and (min-width: 600px) {
  .imax {
    margin: 25px;
  }
}

@media screen and (min-width: 700px) {
  .rating-areas {
    flex-direction: row;
  }

  .original-rating-area, .proposed-rating-area {
    height: 150px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  iframe {
    height: 420px;
    width: 750px;
  }

  .guardians-of-the-galaxy-vol-3-logo, 
  .secret-invasion-logo {
    height: 260px;
    width: 450px;
  }
}

@media screen and (min-width: 850px) {
  .imax {
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .guardians-of-the-galaxy-vol-3-logo,
  .secret-invasion-logo {
    height: 300px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }

  .ant-man-and-the-wasp-quantumania-logo {
    height: 300px;
    width: 500px;
  }
}