body {
  margin: auto;
}

div.T, div.IH, div.IHE1, div.DDBA, div.DDBAS1E9 {
  background-size: cover;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 20px;  
}

div.T {
  background-image: url("/images/wallpaper/mcu/phase5/films/Thunderbolts-Wallpaper.png");
  padding-bottom: 32px;
}