body {
  margin: 0;
}

.IM, .TIH {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 20px;
}

.IM  {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/35B7F58526D0EBEE5E7B2914315B2E2EC97B6B9AA95F77DC9FE44BEFEF6A55A4");  
  padding-bottom: 32px;  
}

.TIH {
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/388A7D6509E4133B25F9FDF5335B790BE862F4FBF9D4BF299517AA4AD716B613");
  padding-bottom: 100px;
}

.navbar a, .dropdown .dropbtn, 
.navbar a:hover, 
.dropdown:hover .dropbtn, 
.dropdown-content a, h1,  
h2, h3, h4, p, li, 
ul, button,
button a:link,
button a:visited,
a:visited, .overview,
a.reference:link,
a.reference:visited {
  font-family: avenir-light;  
  color: white;  
}

.navbar a, .dropdown,
.dropdown-content a {
  float: left;
}

.dropdown-content a, 
.dropdown:hover .dropdown-content,
.iron-man-logo,
.the-incredible-hulk-logo,
iframe, .pg-13-rating,
.next {
  display: block;
}

.navbar, .dropdown {
  overflow: hidden;  
}

.navbar {
  background-color: #333;
  width: 100%;
}

.navbar a, .dropdown .dropbtn {
  font-size: 16px;  
}

.navbar a, 
.dropdown .dropbtn {
  padding: 14px 16px;
}

.navbar a, h1, h2, h3, 
h4, p, .overview, button {
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, 
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, 
.dropdown-content a:visited {
  color: black;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.iron-man-logo,
.the-incredible-hulk-logo,
iframe, .pg-13-rating,
.next {
  margin: auto;
}

.iron-man-logo,
.the-incredible-hulk-logo {
  height: 175px;  
  width: 300px;
}

.the-incredible-hulk-logo {
  padding-top: 200px;
  padding-bottom: 50px;
}

.overview {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center
}

ul, li, p, h2, button {
  margin: 0 20px auto;
}

h1, h2, h3, h4, 
.overview, p, ul, li,
button.contentHider {
  text-shadow: 0px 2px 5px red;  
}

h1 {
  font-size: 40pt;
}

h2 {
  font-size: 25pt;
}

h3, h4 {
  font-size: 20pt;
  margin: 0;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px red;
  width: 280px;
  height: 155px;
}

#violenceAndDisturbingContentArea,
#suggestiveContentArea,
#drinkingDrugAndGamblingContentArea,
#languageArea {
  display: none;
}

button.contentHider {
  border: none;
  background: none;
  font-size: 40px;
  font-weight: 900;
  margin: 40px 0;
  text-decoration: underline;
}

.Stark, .next {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  color: white;
  border-radius: 10px;
}

.Stark, 
.next a {
  text-decoration: none;
}

.next {
  margin: 100px;
}

a:link.reference {
  text-decoration: underline;
  color: white;
}

a:hover.reference, 
a:active.reference {
  text-decoration: underline;
}

a:visited.reference {
  color: white;
}

.rating-areas {
  display: flex;
  flex-direction: column;
  margin: 30px 0 50px auto;
}

.original-rating-area, 
.proposed-rating-area {
  height: 150px;
  margin: 0 auto;
}

.custom-rating {
  margin-left: 15px;
}

.pg-13-rating {
  position: relative;
  right: 5px;
  bottom: 55px;
  width: 250px;
  height: 250px;
  filter: invert(1);
  object-fit: cover;
}

.disneyplus {
  width: 150px;
  position: relative;
  bottom: -22px
}

.imax {
  position: relative;
  width: 200px;
  top: 4px;
  border-radius: 7px;
  box-shadow: 0px 2px 5px red;
}

@media screen and (min-width: 700px) {
  .rating-areas {
    flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  iframe {
    height: 420px;
    width: 750px;
  }
}

@media screen and (min-width: 1000px) {
  .iron-man-logo {
    height: 300px;
    width: 500px;
  }

  .the-incredible-hulk-logo {
    height: 175px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }
}