<nav class="navbar">
  <div class="dropdown">
    <button class="dropbtn" type="button">Home</button>
    <div class="dropdown-content">
      <a href="/html/marvel-database-menu.html">Home</a>
      <a href="/html/mcu/directories/marvel-cinematic-universe.html">Marvel Cinematic Universe</a>
      <a href="/html/mcu/directories/marvel-cinematic-universe-one-shots.html">Marvel Cinematic Universe One Shots</a>
      <a href="/html/mcu/inspired-by/inspired-by-the-mcu-choose-menu.html">Inspired By The Marvel Cinematic Universe</a>
      <a href="/html/x-men/x-men-choose-menu.html">X-Men</a>
      <a href="/html/fantastic-four/fantastic-four-choose-menu.html">Fantastic Four</a>
      <a href="/html/spider-man/spider-man-choose-menu.html">Spider-Man</a>
      <a href="/html/mcu/defenders/the-defenders-saga.html">The Defenders Saga</a>
      <a href="/html/marvel-animation/marvel-animation-choose-menu.html">Marvel Animation</a>
      <a href="/html/marvel-legacy/marvel-legacy-movies-choose-menu.html">Marvel Legacy Movies</a>
    </div>
  </div>

  <a href="/html/mcu/directories/marvel-cinematic-universe.html">MCU</a>

  <div class="dropdown">
    <button class="dropbtn" type="button">Current Marvel Entries</button>
    <div class="dropdown-content">
      <a href="/html/mcu/phase6/series/daredevil-born-again-s2/daredevil-born-again-season-2-episode-menu.html">Daredevil: Born Again Season 2</a>
      <a href="/html/mcu/phase6/specials/the-punisher-one-last-kill.html">The Punisher: One Last Kill</a>
      <a href="/html/spider-man/series/spider-noir/spider-noir-episode-menu.html">Spider-Noir</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn" type="button">Next in Marvel</button>
    <div class="dropdown-content">
      <a href="/html/marvel-animation/series/x-men-97/season-2/x-men-97-season-2-episode-menu.html">X-Men '97 Season 2</a>
      <a href="/html/mcu/phase6/films/spider-man-brand-new-day.html">Spider-Man: Brand New Day</a>
      <a href="/html/mcu/phase6/series/your-friendly-neighborhood-spider-man-s2/your-friendly-neighborhood-spider-man-season-2-episode-menu.html">Your Friendly Neighborhood Spider-Man Season 2</a>
      <a href="/html/mcu/phase6/series/vision-quest/vision-quest-episode-menu.html">Vision Quest</a>
      <a href="/html/mcu/phase6/films/avengers-doomsday.html">Avengers: Doomsday</a>
      <a href="/html/mcu/phase6/films/avengers-secret-wars.html">Avengers: Secret Wars</a>
    </div>
  </div>
</nav>